.login {
  position: absolute;
  background: #354057;
}

.titleLogin {
  font-size: 40px;
  text-align: center;
}

.card-style {
  background-color: #2b2e3d;
  color: white;
}

.table {
  background-color: #ffffff;
}

.imageUser {
  border-radius: 8px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.textUser {
  font-size: 24px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hiddenForm {
  width: 1%;
  height: 1%;
  background-color: #2b2e3d;
  border-color: #2b2e3d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #354057;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header-home {
  background-color: #354057;
  min-height: 120vh;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
